<!-- DaVeri Header Component -->
<header class="dv-header" id="dv-header">
  <a class="dv-header-logo" href="/">
    <img
      src="https://d98a890ebc03293bc70c4f2e92e9e2e5.cdn.bubble.io/f1767564819792x710725775517473700/DaVeri.png"
      alt="DaVeri" />
  </a>

  <div class="dv-header-right">
    <!-- Language Switcher -->
    <div class="dv-lang-switcher">
      <button class="dv-lang-btn active" data-lang="pl" type="button">PL</button>
      <button class="dv-lang-btn" data-lang="en" type="button">EN</button>
      <button class="dv-lang-btn" data-lang="es" type="button">ES</button>
    </div>

    <!-- User Menu Placeholder -->
    <div class="dv-header-user" id="headerUserMenu">
      <div class="dv-header-user-avatar" id="headerAvatar">U</div>
      <span class="dv-header-user-name" id="headerUserName">Menu</span>
    </div>
  </div>
</header>
