name = "daveri-auth"
main = "worker.js"
compatibility_date = "2024-01-01"

workers_dev = true
preview_urls = true

routes = [
  { pattern = "api.daveri.io/*", zone_name = "daveri.io" },
  { pattern = "api.daveri.io", zone_name = "daveri.io", custom_domain = true }
]

[vars]
SUPABASE_URL = "https://inayqymryrriobowyysw.supabase.co"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = false
persist = true
head_sampling_rate = 1


